<h2>Details</h2>
<p>Name:{{ironhackerDetail.firstname}} {{ironhackerDetail.lastname}}</p>
<p>Job: {{ironhackerDetail.lastJob}}</p>
<p>Experiences: {{ironhackerDetail.experiences}}</p>
<p>Resume: {{ironhackerDetail.resume}}</p>
<p>Skills: {{ironhackerDetail.skills}}</p>
<div class="text-center">
  <a href="#profileLinkedIn" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Contact</a>
</div>