<div class="container">
  <h1>Hi, {{profileEdit.username}} edit your profile</h1>
  <hr>
  <div class="row">

    <form action="/profile/edit" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">

      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          {{#if profileEdit.image}}
          <img src="{{profileEdit.image}}" class="img-thumbnail rounded" alt="photo">
          {{else}}
          <img src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
            class="img-thumbnail rounded" alt="photo">
          {{/if}}
          <h6>Upload a different photo...</h6>

          <input type="file" class="form-control" name="photo">
        </div>
        {{#if isEnterprise }}
        <div class="text-center">
          <a href="/my-projects" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">My projects</a>
        </div>
        {{/if}}
      </div>


      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        {{#unless isEnterprise }}
        <div class="text-center">
          <a href="/projects-page" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">All the
            projects</a>
        </div>
        {{/unless}}
        {{#if isEnterprise }}
        <div class="text-center">
          <a href="/ironhackers-page" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">All the
            ironhackers</a>
        </div>
        {{/if}}
        <h3>Personal info</h3>
        {{#unless isEnterprise }}
        <div class="form-group">
          <label class="col-lg-3 control-label">First name:</label>
          <div class="col-lg-8">
            <input name="firstname" class="form-control" type="text" value="{{profileEdit.firstname}}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Last name:</label>
          <div class="col-lg-8">
            <input name="lastname" class="form-control" type="text" value="{{profileEdit.lastname}}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Job:</label>
          <div class="col-lg-8">
            <input name="lastJob" class="form-control" type="text" value="{{profileEdit.lastJob}}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Competences:</label>

          <div class="competences-container col-lg-9">
            {{#each skills}}
            <div class="form-check form-check-inline col-lg-3">
              <input name="skills[]" class="form-check-input" type="checkbox" id="{{_id}}" value="{{_id}}"
                {{#ifIn this._id ../userSkills}}checked{{/ifIn}}>
              <label class="form-check-label" for="{{_id}}">{{name}}</label>
            </div>
            {{/each}}
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Catch phrase:</label>
          <div class="col-lg-8">
            <input name="resume" class="form-control" type="text" value="{{profileEdit.resume}}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Profile LinkedIn:</label>
          <div class="col-lg-8">
            <input name="linkedinProfile" class="form-control" type="url" value="{{profileEdit.linkedinProfile}}"
              placeholder="https://www.linkedin.com " required>
          </div>
        </div>
        {{/unless}}
        {{#if isEnterprise }}
        <div class="form-group">
          <label class="col-lg-3 control-label">Company:</label>
          <div class="col-lg-8">
            <input name="companyName" class="form-control" type="text" value="{{profileEdit.companyName}}">
          </div>
        </div>
        {{else}}
        {{/if}}
        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input name="email" class="form-control" type="text" value="{{profileEdit.email}}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input type="submit" class="btn btn-primary" value="Save Changes">
            <span></span>
            <input type="reset" class="btn btn-default" value="Cancel">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<hr>