<div class="container">
  <h1>Edit Profile</h1>
  <hr>
  <div class="row">

    <form action="/profile/edit" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">

      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          <img src="{{image}}" class="avatar img-circle" alt="photo">
          <h6>Upload a different photo...</h6>
          
            <input type="file" class="form-control" name="photo">
        </div>
        {{#if isEnterprise }}
        <div class="text-center">
          <a href="/my-projects" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">My projects</a>
        </div>
        {{/if}}
      </div>


      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        {{#unless isEnterprise }}
        <div class="text-center">
          <a href="/projects-page" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">All the
            projects</a>
        </div>
        {{/unless}}
        {{#if isEnterprise }}
        <div class="text-center">
          <a href="/ironhackers-page" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">All the
            ironhackers</a>
        </div>
        {{/if}}
        <h3>Personal info</h3>
        {{#unless isEnterprise }}

        <div class="form-group">
          <label class="col-lg-3 control-label">First name:</label>
          <div class="col-lg-8">
            <input name="firstname" class="form-control" type="text" value="{{profileEdit.firstname}}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Last name:</label>
          <div class="col-lg-8">
            <input name="lastname" class="form-control" type="text" value="{{profileEdit.lastname}}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Job:</label>
          <div class="col-lg-8">
            <input name="lastJob" class="form-control" type="text" value="{{profileEdit.lastJob}}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Experiences:</label>
          <div class="col-lg-8">
            <input name="experiences" class="form-control" type="text" value="{{profileEdit.experiences}}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Resume:</label>
          <div class="col-lg-8">
            <input name="resume" class="form-control" type="text" value="{{profileEdit.resume}}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Profile LinkedIn:</label>
          <div class="col-lg-8">
            <input name="linkedinProfile" class="form-control" type="text" value="{{profileEdit.linkedinProfile}}">
          </div>
        </div>
        {{/unless}}
        {{#if isEnterprise }}
        <div class="form-group">
          <label class="col-lg-3 control-label">Company:</label>
          <div class="col-lg-8">
            <input name="companyName" class="form-control" type="text" value="{{profileEdit.companyName}}">
          </div>
        </div>
        {{else}}
        <div class="form-group">
          <label class="col-lg-3 control-label">Competences:</label>
          <div class="form-check form-check-inline col-lg-3">
            <input name="skills[0]" class="form-check-input" type="checkbox" id="ReactJS" value="ReactJS">
            <label class="form-check-label" for="ReactJS">ReactJS</label>
          </div>
          <div class="form-check form-check-inline col-lg-3">
            <input name="skills[1]" class="form-check-input" type="checkbox" id="NodeJS" value="NodeJS">
            <label class="form-check-label" for="NodeJS">NodeJS</label>
          </div>
          <div class="form-check form-check-inline col-lg-3">
            <input name="skills[2]" class="form-check-input" type="checkbox" id="HTML5" value="HTML5">
            <label class="form-check-label" for="HTML5">HTML5</label>
          </div>
          <div class="form-check form-check-inline col-lg-3">
            <input name="skills[3]" class="form-check-input" type="checkbox" id="CSS3" value="CSS3">
            <label class="form-check-label" for="CSS3">CSS3</label>
          </div>
          <div class="form-check form-check-inline col-lg-3">
            <input name="skills[4]" class="form-check-input" type="checkbox" id="Javascript" value="Javascript">
            <label class="form-check-label" for="Javascript">Javascript</label>
          </div>
          <div class="form-check form-check-inline col-lg-3">
            <input name="skills[5]" class="form-check-input" type="checkbox" id="Python" value="Python">
            <label class="form-check-label" for="Python">Python</label>
          </div>
          <div class="form-check form-check-inline col-lg-3">
            <input name="skills[6]" class="form-check-input" type="checkbox" id="VueJS" value="VueJS">
            <label class="form-check-label" for="VueJS">VueJS</label>
          </div>
          <div class="form-check form-check-inline col-lg-3">
            <input name="skills[7]" class="form-check-input" type="checkbox" id="UX-design" value="UX-design">
            <label class="form-check-label" for="UX-design">UX Design</label>
          </div>
          <div class="form-check form-check-inline col-lg-3">
            <input name="skills[8]" class="form-check-input" type="checkbox" id="Data" value="Data">
            <label class="form-check-label" for="Data">Data</label>
          </div>
          <div class="form-check form-check-inline col-lg-3">
            <input name="skills[9]" class="form-check-input" type="checkbox" id="Other" value="Other">
            <label class="form-check-label" for="Other">Other</label>
          </div>

        </div>
        {{/if}}
        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input name="email" class="form-control" type="text" value="{{profileEdit.email}}">
          </div>
        </div>

        <div class="form-group">
          <label name="password" class="col-md-3 control-label">Password:</label>
          <div class="col-md-8">
            <input class="form-control" type="password" value="{{profileEdit.password}}">
          </div>
        </div>
      
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input type="submit" class="btn btn-primary" value="Save Changes">
            <span></span>
            <input type="reset" class="btn btn-default" value="Cancel">
          </div>
        </div>
      </div>

    </form>

  </div>
</div>
<hr>