<h2>Details du projet</h2>
<p>Name:{{projectDetail.name}}</p>
<p>Company: {{projectDetail.owner}}</p>
<p>Category: {{projectDetail.category}}</p>
<p>Summary: {{projectDetail.summary}}</p>
<p>Skills: {{projectDetail.skills}}</p>
<p>Duration: {{projectDetail.duration}}</p>